{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
    </head>
<body class="dark"  style="background-color: #EEEEEE;">
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="text-center">
                        {% csrf_token %}
                        <div class="mb-4">
                            <i class="feather icon-user-plus auth-icon text-4xl mb-4"></i>
                        </div>
                        <h3 class="mb-4">Regístrate</h3>
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                        <div class="mb-4">
                            <input type="text" name="username" class="form-control mb-3" placeholder="Usuario" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                        </div>
                        <div class="mb-4">
                            <input type="email" name="email" class="form-control mb-3" placeholder="Correo electrónico" autocapitalize="none" autocomplete="email" maxlength="254" required="" id="id_email">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" name="password1" class="form-control mb-3" placeholder="Contraseña" required="" id="id_password1">
                                <button class="btn btn-outline-secondary toggle-password" type="button" data-target="id_password1" style="height: 38px;">
                                    <img src="../../media/SVG/ojo-cruzado.svg" alt="Mostrar Contraseña" width="20px" height="20px">
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" name="password2" class="form-control" placeholder="Confirmar Contraseña" required="" id="id_password2">
                                <button class="btn btn-outline-secondary toggle-password" type="button" data-target="id_password2" style="height: 38;">
                                    <img src="../../media/SVG/ojo-cruzado.svg" alt="Mostrar Contraseña" width="20px" height="20px">
                                </button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block mt-3">Registrarse</button>
                        <p class="text-xs text-gray-500 mt-3">Ya tienes una cuenta? <a href="{% url 'sign_in' %}" class="text-success">Inicia Sesión</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Importing Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- Script to show the toast message -->
{% if messages %}
<script>
    $(document).ready(function(){
        $('#loginInfoToast').toast('show');
    });
</script>
{% endif %}

<script>
    $(document).ready(function() {
        $(".toggle-password").click(function() {
            var targetId = $(this).data("target");
            var passwordField = $("#" + targetId);
            var passwordFieldType = passwordField.attr("type");
            var passwordIcon = $(this).find("img");

            if (passwordFieldType === "password") {
                passwordField.attr("type", "text");
                passwordIcon.attr("src", "../../media/SVG/ojo.svg");
            } else {
                passwordField.attr("type", "password");
                passwordIcon.attr("src", "../../media/SVG/ojo-cruzado.svg");
            }
        });
    });
</script>
</body>
</html>
