{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password | Zybal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <!-- Importing Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="../../static/assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="dark">
<div class="flex justify-center items-center h-screen bg-gray-200">
    <div class="w-full max-w-xs">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="mb-4">
                    <i class="feather icon-lock auth-icon text-4xl mb-4"></i>
                </div>
                <h3 class="mb-4">Enter Verification Code</h3>
                <div class="mb-6">
                    <input type="text" name="verification_code" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Verification Code" autocapitalize="none" autocomplete="off" maxlength="6" required="" id="id_verification_code">
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-4">Verify</button>
                <p class="text-xs text-gray-500">Didn't receive the code? <a href="#" class="text-blue-500">Resend</a></p>
            </form>
        </div>
    </div>
</div>

<label class="hidden">
    <i class="icon feather icon-sun" id="theme-indicator"></i>
    <input type="checkbox" id="theme-switch" class="hidden">
</label>

<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/dark-mode.js' %}"></script>

</body>
</html>
