<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zybal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="lightbox.min.css">
    <style>
        .card {
            background-color: transparent;
            border: none;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            width: 100%; /* Ensures the card fills the container */
        }

        .card-body {
            padding: 20px;
            display: flex;
            flex-direction: column; /* Set the flex direction to column */
            height: 100%; /* Ensure the card body fills the container vertically */
        }

        .form-control {
            border: none;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            flex: 1; /* Allow textarea to grow and fill remaining space */
            resize: none; /* Prevent resizing of the textarea */
            min-height: 100%; /* Ensure the textarea fills the entire card-body vertically */
        }

        .btn {
            border-radius: 25px;
            padding: 8px 20px;
            font-weight: bold;
        }

        .image-link a {
            outline: none;
        }
    </style>
    
</head>
<body>
    <!-- Navigation Bar -->
    {% include 'includes/nav-bar.html' %}
    <!-- Notification Preview -->
    {% include 'includes/notification-preview.html' %}
    <div class="container">
        <div class="row">
            <!-- Aside -->
            {% include 'includes/aside.html' %}
            <div class="col-md-9">
                <!-- Tweet Form -->
                <div class="middle-column">
                    <div class="card">
                        <div class="card-header bg-transparent">








                            
                            <form action="upload" method="POST" enctype="multipart/form-data" class="form-inline">
                                {% csrf_token %}
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start">
                                            <img src="{{ profile.profile_image.url}}" alt="Profile Picture" width="60px" height="60px" class="rounded-circle mr-3">
                                            <div class="flex-grow-1">
                                                <textarea class="form-control border-0 bg-transparent" placeholder="Qué está pasando?" rows="1" name="caption"></textarea>
                                                <input type="file" class="form-control-file mt-3" name="image_upload" accept="image/*" multiple>                                                <div class="preview-images"></div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <span class="text-secondary"></span>
                                            <button type="submit" class="btn btn-primary">Tweet</button>
                                        </div>
                                    </div>
                                </div>
                            </form>







                            
                        </div>
                        <div class="card-body">
                            
                            {% for post in posts %}
                            <div class="media">
                                <img src="{{ post.user.profile_image.url }}" alt="Profile Picture" width="60px" height="60px" class="rounded-circle mr-3">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ post.user.user.full_name }}</h5>
                                    <h6>@{{ post.user }}</h6>
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="Post Image" width="100%" class="mb-3">
                                        {% endif %}
                                        <p class="card-text text-justify">{{ post.caption }}</p>
                                        <div class="image-link" style="display: inline-block;">
                                            <a href="/like-post?post_id={{ post.id}}">
                                                {% if post.user_has_liked == 0 %}
                                                    <img src="../../static/assets/images/corazon.png" alt="dislike">
                                                {% else %}
                                                    <img src="../../static/assets/images/like.png" alt="like">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div id="likes-count-{{post.id}}" style="display: inline-block; padding-left: 1%;">
                                                <p>{{post.likes_count}}</p>
                                        </div>
                                    <hr>
                                </div>
                                <small>{{ post.created_at }}</small>
                            </div>
                            {% endfor %}
                        </div>






                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Lightbox Options -->
    <script src="lightbox-plus-jquery.min.js"></script>
    <!-- Bootstrap and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".image-link a").click(function(e) {
                e.preventDefault();
                var url = $(this).attr("href");
                var postId = url.split("=")[1]; 
    
                // Almacenar el contexto de 'this' en una variable
                var self = this;
    
                // Obtener el token CSRF de las cookies
                var csrftoken = getCookie('csrftoken');
    
                // Función para obtener el valor del token CSRF de las cookies
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
    
                // Realizar la solicitud AJAX con el token CSRF incluido
                $.ajax({
                    type: "POST",
                    url: "/like-post?post_id=" + postId,
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(data) {
                        // Encuentra la imagen dentro del enlace actual
                        var img = $(self).find("img");
                        if (img.length > 0) {
                            var currentSrc = img.attr("src");
                            if (currentSrc.includes("like.png")) {
                                img.attr("src", "../../static/assets/images/corazon.png");
                                var likesCount = parseInt($("#likes-count-" + postId + " p").text());
                                $("#likes-count-" + postId + " p").text(likesCount - 1);
                            } else {
                                img.attr("src", "../../static/assets/images/like.png");
                                var likesCount = parseInt($("#likes-count-" + postId + " p").text());
                                $("#likes-count-" + postId + " p").text(likesCount + 1);
                            }
                        } else {
                            console.error("No se pudo encontrar la imagen dentro del enlace.");
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", status, error);
                    }
                });
            });
        });
    </script>
</body>
</html>
