<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <style>
        /* Your custom styles here */
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    {% include 'includes/nav-bar.html' %}
    <div class="container">
        <div class="row">
            <!-- Aside -->
            {% include 'includes/aside.html' %}
            <div class="col-md-9">
                <h2>Listado de Usuarios</h2>
                <ul class="list-group">
                    {% for user in username_profile_list %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'profile' user %}">
                                <div class="media">
                                    <img src="{{ user.profile_image.url }}" alt="Profile Picture" width="60px" height="60px" class="rounded-circle mr-3">
                                    <div class="media-body">
                                        <h6>@{{ user }}</a></h6>
                                        <h6>{{user.user.first_name}} {{user.user.last_name}}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Lightbox Options -->
    <script src="lightbox-plus-jquery.min.js"></script>
    <!-- Bootstrap and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
