<aside class="settings-aside">
    <h2 class="text-center">Configuraciones</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#general">General</a></li>
        <li class="list-group-item"><a href="#privacy">Privacidad</a></li>
        <li class="list-group-item"><a href="#notifications">Notificaciones</a></li>
        <li class="list-group-item"><a href="#account">Cuenta</a></li>
        <li class="list-group-item"><a href="#security">Seguridad</a></li>
    </ul>
</aside>
