<aside class="col-md-3">
    <div class="left-column">

        {% block content %}
        <div class="card card-left1 mb-4">
            <div class="card-body text-center">
                <!-- Profile Image -->
                <div class="d-flex justify-content-center mb-3">
                    <img src="{{ profile.profile_image.url }}" alt="profile image" class="rounded-circle" width="124px" height="124px" style="object-fit: cover;">
                </div>

                <!-- Username -->
                <h4 class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
                <h5 class="card-title">@{{ profile.user.username }}</h5>

                <!-- Bio -->
                <p class="">{{ profile.bio }}</p>

                <!-- Followers and Following Count -->
                <ul class="list-unstyled nav justify-content-center">
                    <li class="nav-item me-3 mb-2">
                        <a href="#modal-followers" data-toggle="modal" class="text-dark text-decoration-none">Seguidores<br><strong>{{ following_count }}</strong></a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#modal-following" data-toggle="modal" class="text-dark text-decoration-none">Siguiendo<br><strong>{{ followers_count }}</strong></a>
                    </li>
                </ul>
                
            </div>
        </div>
        {% endblock %}
    </div>
</aside>
