
<aside class="col-md-3">
    <div class="left-column">

        
        {% block content %}
        <div class="card card-left1 mb-4">
            <div class="card-body text-center">
                <img src="{{ profile.profile_image.url }}" alt="profile image" class="img-fluid rounded-circle" width="124px" height="124px">
                <h5 class="card-title">@{{ profile.user.username }}</h5>
                <p class="card-text text-justify mb-2">{{ profile.bio }}</p>
                <ul class="list-unstyled nav justify-content-center">
                    <li class="nav-item">
                        <a href="#" class="text-dark text-decoration-none">Followers<br><strong>{{ followers_count }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="text-dark text-decoration-none">Following<br><strong>{{ following_count }}</strong></a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}





        <div class="card shadow-sm card-left2 mb-4">

            <div class="card-body">

                    <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Edit</a></small></h5>

                    <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">oh canada</a></p>

                    <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">obama</a></p>
                    <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">Github</a></p>
                    <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">San francisco</a></p>
                    <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Seattle, WA</a></p>




            </div>
        </div>


        <div class="card shadow-sm card-left3 mb-4">

            <div class="card-body">
                <h5 class="card-title">Photos<small class="ml-2"><a href="#">.Edit </a></small></h5>

                <div class="row">
                    <div class="col-6 p-1">
                        <a href="img/left1.jpg" data-lightbox="id" ><img src="img/left1.jpg" alt="img" class="img-fluid my-2"></a>  
                        <a href="img/left2.jpg"data-lightbox="id"><img src="img/left2.jpg" alt="img" class="img-fluid my-2"></a>
                        <a href="img/left3.jpg"data-lightbox="id"><img src="img/left3.jpg" alt="img" class="img-fluid my-2"></a>

                    </div>


                    <div class="col-6 p-1">
                            <a href="img/left4.jpg"data-lightbox="id"><img src="img/left4.jpg" alt="img" class="img-fluid my-2"></a>
                            <a href="img/left5.jpg"data-lightbox="id"><img src="img/left5.jpg" alt="img" class="img-fluid my-2"></a>
                            <a href="img/left6.jpg"data-lightbox="id"><img src="img/left6.jpg" alt="img" class="img-fluid my-2"></a>

                        </div>

                </div>

            </div>







            </div>
    </div>
</aside>
