
<nav class="navbar navbar-expand-md navbar-dark mb-4 shadow" style="background-color:#026842">

    <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">
            <li class="nav-item"><a href="#" class="nav-link active">General</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Perfil</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Privacidad</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Notificaciones</a></li>
        </ul>
    </div>


</nav>
