<style>
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
</style>



<nav class="navbar navbar-expand-md navbar-dark mb-4 shadow" style="background-color:#026842">

    <a href="" class="navbar-brand">
        <img src="../../static/assets/images/logo.png" alt="logo" class="img-fluid" width="120px" height="150px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive" aria-controls="responsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">
            <li class="nav-item"><a href="" class="nav-link active">Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Perfil</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Actividad</a></li>
        </ul>

        <form action="" class="form-inline ml-auto d-none d-md-block mr-3" >
            <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
        </form>


        




    </div>

    <a href="#modalview" class="text-decoration-none mr-3" data-toggle="modal">
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="24" height="24" fill="#FFFFFF"><path d="M4.068,18H19.724a3,3,0,0,0,2.821-4.021L19.693,6.094A8.323,8.323,0,0,0,11.675,0h0A8.321,8.321,0,0,0,3.552,6.516l-2.35,7.6A3,3,0,0,0,4.068,18Z"/><path d="M7.1,20a5,5,0,0,0,9.8,0Z"/></svg>
    </a>



    
    <div class="dropdown mr-3">
        <button class="btn btn-secondary p-0 border-0 bg-transparent" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="profileImage" src="{{ profile.profile_image.url }}" alt="profile_icon" class="rounded-circle" width="50px" height="50px">
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="home/settings/">Configuraciones</a>
            <a class="dropdown-item" href="#">Preferencias de Idioma</a>
            <a class="dropdown-item" href="accounts/logout/">Cerrar Sesión</a>
        </div>
    </div>
</nav>
