<div class="modal fade" id="modalview">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #026842; color: #ffffff; text-align: center;">
                <h4 class="modal-title">Notificaciones</h4>
                <button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled d-flex flex-row flex-wrap">
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <li class="media hover-media mr-3 mb-3">
                        <a href="#" class="text-decoration-none d-flex">
                            <img src="../../media/profile_images/profile_UrDqCsJ.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bowser</h5>
                                <h6 class="text-muted">@Bowser</h6>
                                <p class="card-text mb-2">Los impuestos</p>
                                <small class="text-muted">Hace 4 días</small>
                            </div>
                            </a>
                    </li>
                    <hr>
                    <!-- Agrega más elementos li aquí según sea necesario -->
                </ul>
            </div>
            
        </div>
    </div>
</div>
